{% load static %}

<div bind="385847a8-77d0-a21f-7e8f-0817133d78f4" data-w-id="164cd524-e468-1f46-ea43-1b5b0c76306f" class="preloader">
    <div class="loader"><img src="{% static 'images/Inserir um título (5).png' %}" height="40px" loading="lazy"
            data-w-id="164cd524-e468-1f46-ea43-1b5b0c763071" alt="" class="loader-icon">
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763072" class="loader-heading">H</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763074" class="loader-heading">y</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763076" class="loader-heading">p</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763078" class="loader-heading">e</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307a" class="loader-heading">r</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307c" class="loader-heading">-</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">G</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">l</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">x</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">y</h2>
    </div>
</div>
<div bind="385847a8-77d0-a21f-7e8f-0817133d78f4" data-w-id="164cd524-e468-1f46-ea43-1b5b0c76306f" class="preloader">
    <div class="loader"><img src="{% static 'images/Inserir um título (5).png' %}" height="40px" loading="lazy"
            data-w-id="164cd524-e468-1f46-ea43-1b5b0c763071" alt="" class="loader-icon">
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763072" class="loader-heading">H</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763074" class="loader-heading">y</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763076" class="loader-heading">p</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763078" class="loader-heading">e</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307a" class="loader-heading">r</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307c" class="loader-heading">-</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">G</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">l</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">x</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">y</h2>
    </div>
</div>
<div class="padding-bottom padding-xxsmall"></div>
<div class="padding-bottom padding-medium"></div>
<div bind="385847a8-77d0-a21f-7e8f-0817133d78f4" data-w-id="164cd524-e468-1f46-ea43-1b5b0c76306f" class="preloader">
    <div class="loader"><img src="{% static 'images/Inserir um título (5).png' %}" height="40px" loading="lazy"
            data-w-id="164cd524-e468-1f46-ea43-1b5b0c763071" alt="" class="loader-icon">
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763072" class="loader-heading">H</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763074" class="loader-heading">y</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763076" class="loader-heading">p</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763078" class="loader-heading">e</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307a" class="loader-heading">r</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307c" class="loader-heading">-</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">G</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">l</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">x</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">y</h2>
    </div>
</div>
<div bind="385847a8-77d0-a21f-7e8f-0817133d78f4" data-w-id="164cd524-e468-1f46-ea43-1b5b0c76306f" class="preloader">
    <div class="loader"><img src="{% static 'images/Inserir um título (5).png' %}" height="40px" loading="lazy"
            data-w-id="164cd524-e468-1f46-ea43-1b5b0c763071" alt="" class="loader-icon">
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763072" class="loader-heading">H</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763074" class="loader-heading">y</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763076" class="loader-heading">p</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763078" class="loader-heading">e</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307a" class="loader-heading">r</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307c" class="loader-heading">-</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">G</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">l</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">x</h2>
        <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">y</h2>
    </div>
</div>