{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
<div class="section-about">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-medium top-padding-large">
                <div class="about-component">
                    <div data-w-id="a23588c3-961a-3057-38a4-506ed56f6c16" style="opacity:1" class="about-content">
                        <h2 data-w-id="5f1f07a3-4661-be62-a8c7-b3ce2b5c2a8c" style="opacity:1" class="heading-style-h2">
                            Bem-vindo à Nossa Galáxia.</h2>
                    </div>
                    <div class="padding-bottom padding-large"></div>
                    <img src="{% static 'images/about-Image.webp' %}" alt=""
                        style="opacity:0"
                        sizes="(max-width: 479px) 100vw, (max-width: 991px) 94vw, (max-width: 1218px) 96vw, 1170px"
                        data-w-id="733ae21b-74bb-261e-25bc-b83fae01f3f0" loading="lazy"
                        bind="ff72c7f8-1152-4fac-bacc-6c35b2c65e0c"
                        srcset="images/about-Image-p-500.webp 500w, images/about-Image-p-800.webp 800w, images/about-Image-p-1080.webp 1080w, images/about-Image.webp 1170w">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-goal">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-medium">
                <div data-w-id="428827e3-c9d1-cfcb-202f-3c6846eb04ec" style="opacity:1" class="goal-component">
                    <div class="goal-left-content">
                        <h5 class="heading-style-h5">Nosso objetivo<em><br></em></h5>
                    </div>
                    <div class="goal-right-content">
                        <p class="text-size-regular"><strong>Bem-vindo:</strong> à HyperGalaxy, um ponto de convergência
                            para inovação, tecnologia e criatividade. Fundada em 2018 por um grupo de visionários
                            apaixonados por explorar os limites da tecnologia, a HyperGalaxy nasceu de um desejo ardente
                            de criar soluções digitais que transcendessem as expectativas e definissem novos padrões na
                            indústria.</p>
                        <p class="text-size-regular"><strong>Nossa Jornada:</strong>Desde o primeiro dia, nossa jornada
                            foi marcada por uma busca incessante pela excelência e uma determinação inabalável em
                            enfrentar desafios complexos com soluções simples e eficazes. Ao longo dos anos, evoluímos
                            constantemente, adaptando-nos às mudanças do mercado e incorporando as últimas tendências
                            tecnológicas em nosso arsenal.
                        <p class="text-size-regular"><strong>Nossa Equipe:</strong>Na HyperGalaxy, acreditamos que o
                            verdadeiro poder reside em nossa equipe diversificada e talentosa. Com especialistas em
                            desenvolvimento de software, design criativo, marketing digital e muito mais, reunimos
                            mentes brilhantes de diversas origens para colaborar em projetos inovadores que elevam a
                            experiência digital a novos patamares.</p>
                        <p class="text-size-regular"><strong>Nossa Missão:</strong>Desde o início, nossa missão tem sido
                            clara: capacitar empresas e indivíduos a alcançar seu potencial máximo no mundo digital.
                            Estamos comprometidos em fornecer soluções personalizadas e estratégias sob medida que
                            impulsionam o crescimento, estimulam a inovação e criam conexões significativas entre marcas
                            e seus públicos.
                        <p class="text-size-regular"><strong>Nosso Compromisso Futuro:</strong>À medida que avançamos no
                            futuro, estamos comprometidos em manter nossa promessa de excelência, criatividade e
                            inovação em todos os aspectos do nosso trabalho. Continuaremos a desafiar os limites da
                            tecnologia, explorando novas fronteiras e inspirando outros a sonhar em grande.Junte-se a
                            nós enquanto continuamos a nossa jornada na fronteira da inovação digital. Estamos
                            empolgados para compartilhar essa viagem emocionante com você.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-gallery">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-medium">
                <div class="gallery-component">
                    <div class="w-layout-grid gallery-grid">
                        <a href="#" id="w-node-_29976607-c17f-6c88-0d00-c45f0c6fb5be-dd75a4f3"
                            data-w-id="29976607-c17f-6c88-0d00-c45f0c6fb5be" style="opacity:0"
                            class="gallery-image-wrapper w-inline-block w-lightbox"><img src="{% static 'images/About-Image-02.png' %}"
                                loading="lazy" alt="" class="gallery-image">
                            <script type="application/json" class="w-json">{
"items": [
{
  "_id": "658275b3fc3601290cc9eb50",
  "origFileName": "About Image 02.png",
  "fileName": "About Image 02.png",
  "fileSize": 338279,
  "height": 472,
  "url": "https://uploads-ssl.webflow.com/6576a3520c04aea897f26b18/658275b3fc3601290cc9eb50_About%20Image%2002.png",
  "width": 370,
  "type": "image"
}
],
"group": ""
}</script>
                        </a>
                        <a href="#" id="w-node-b15360e4-cb88-2d22-0c7e-c68db40d8714-dd75a4f3"
                            data-w-id="b15360e4-cb88-2d22-0c7e-c68db40d8714" style="opacity:0"
                            class="gallery-image-wrapper w-inline-block w-lightbox"><img src="{% static 'images/About-Image-03.png' %}"
                                loading="lazy" alt="" class="gallery-image">
                            <script type="application/json" class="w-json">{
"items": [
{
  "_id": "658275b3fc3601290cc9eb4e",
  "origFileName": "About Image 03.png",
  "fileName": "About Image 03.png",
  "fileSize": 304818,
  "height": 472,
  "url": "https://uploads-ssl.webflow.com/6576a3520c04aea897f26b18/658275b3fc3601290cc9eb4e_About%20Image%2003.png",
  "width": 370,
  "type": "image"
}
],
"group": ""
}</script>
                        </a>
                        <a href="#" id="w-node-_948ee36c-32ea-c3bd-ab92-5da6f001c27a-dd75a4f3"
                            data-w-id="948ee36c-32ea-c3bd-ab92-5da6f001c27a" style="opacity:0"
                            class="gallery-image-wrapper w-inline-block w-lightbox"><img src="{% static 'images/About-Image-04.png' %}"
                                loading="lazy" alt="" class="gallery-image">
                            <script type="application/json" class="w-json">{
"items": [
{
  "_id": "658275b3fc3601290cc9eb52",
  "origFileName": "About Image 04.png",
  "fileName": "About Image 04.png",
  "fileSize": 259052,
  "height": 472,
  "url": "https://uploads-ssl.webflow.com/6576a3520c04aea897f26b18/658275b3fc3601290cc9eb52_About%20Image%2004.png",
  "width": 370,
  "type": "image"
}
],
"group": ""
}</script>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-experience">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-medium bottom-padding-large">
                <div class="experience-component">
                    <div data-w-id="a9863c23-f31e-9748-64be-1ed72c7d8516" style="opacity:1" class="experience-content">
                        <h3 class="heading-style-h3">40+</h3>
                        <div class="text-size-regular">membros</div>
                    </div>
                    <div data-w-id="bd198b55-67af-4270-87cc-f2c174420d6b" style="opacity:1" class="experience-content">
                        <h3 class="heading-style-h3">500+</h3>
                        <div class="text-size-regular">projetos</div>
                    </div>
                    <div data-w-id="6e6459f1-7287-1d20-259c-4ff1ff2fbace" style="opacity:1" class="experience-content">
                        <h3 class="heading-style-h3">5+</h3>
                        <div class="text-size-regular">Anos de experiência</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-history">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-large">
                <div data-w-id="770aae38-7118-8218-4ea5-f5ccc4c891c0" style="opacity:1" class="history-component">
                    <div class="w-layout-grid history-grid">
                        <div id="w-node-ece5bcb5-5fd3-be46-97c5-8d894830988a-dd75a4f3" class="history-image-wrapper">
                            <img src="{% static 'images/Description-Image-01.png' %}" loading="lazy"
                                bind="4659b38a-3ba6-6dd8-0f48-934a4b0e5b73" alt="" class="history-image"></div>
                        <div id="w-node-_66be4243-d52f-d5cd-ea29-043c8d7a47f3-dd75a4f3" class="history-content">
                            <h3 class="heading-style-h3 text-color-white">Nossa agência de design valorizamos a
                                integridade e a transparência. Nosso compromisso com práticas éticas tem sido uma força
                                motriz. Os clientes confiam em nós para uma comunicação clara, colaboração honesta e
                                resultados confiáveis. Esta base de confiança tem sido fundamental para a nossa jornada,
                                promovendo relacionamentos e alimentando o nosso sucesso duradouro.<br></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-brand">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-medium top-padding-large">
                <div data-w-id="f3919375-9da0-6eeb-32ec-c0166d952c04" class="brand-component">
                    <div class="brand-content">
                        <h6 class="heading-style-h6 text-weight-bold">Some of Our Client</h6>
                    </div>
                    <div class="padding-bottom padding-large"></div>
                    <div class="w-layout-grid inner-logo-grid"><img src="{% static 'images/Logo-01.svg' %}" loading="lazy" alt=""
                            class="logo"><img src="{% static 'images/Logo-02.svg' %}" loading="lazy" alt="" class="logo"><img
                            src="{% static 'images/Logo-02.svg' %}" loading="lazy" alt="" class="logo"><img src="{% static 'images/Logo-04.svg' %}"
                            loading="lazy" alt="" class="logo"><img src="{% static 'images/Logo-03.png' %}" loading="lazy" alt=""
                            class="logo"><img src="{% static 'images/Logo-05.svg' %}" loading="lazy" alt="" class="logo"><img
                            src="{% static 'images/Logo-06.svg' %}" loading="lazy" alt="" class="logo"><img src="{% static 'images/Logo-07.svg' %}"
                            loading="lazy" alt="" class="logo"><img src="{% static 'images/Logo-08.svg' %}" loading="lazy" alt=""
                            class="logo"><img src="images/Logo-09.png" loading="lazy" alt="" class="logo"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-testimoinal">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-medium bottom-padding-large">
                <div data-w-id="570f0ebd-9e79-e475-a712-bccd173ddb0d" class="testimoinal-component">
                    <div class="testimoinal-content">
                        <h5 class="heading-style-h5">Feedback de nossos clientes</h5>
                    </div>
                    <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider"
                        data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false"
                        data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                        <div class="w-slider-mask">
                            <div class="testimonial-slide w-slide">
                                <div class="testimoinal-slider-top-content">
                                    <div class="testimonial-line"></div>
                                    <div class="text-size-regular">Spa Paragon LLC</div>
                                </div>
                                <div class="padding-bottom padding-xsmall"></div>
                                <p class="text-size-large text-color-black">“Ficamos felizes por termos encontrado a
                                    melhor agência de UI/UX Design e a melhor agência de design de produto para
                                    trabalhar. Definitivamente continuaremos a trabalhar com eles, pois temos o maior
                                    resultado.”</p>
                            </div>
                            <div class="testimonial-slide w-slide">
                                <div class="testimoinal-slider-top-content">
                                    <div class="testimonial-line"></div>
                                    <div class="feedback-author">Spa Paragon LLC</div>
                                </div>
                                <div class="padding-bottom padding-xsmall"></div>
                                <p class="text-size-large text-color-black">
                                    “O trabalho da HyperGalaxy é impressionante. É a base da nossa plataforma, e seu
                                    design e documentação detalhados simplificam o desenvolvimento. Sua criatividade e
                                    conhecimento de mercado se destacaram.”</p>
                            </div>
                            <div class="testimonial-slide w-slide">
                                <div class="testimoinal-slider-top-content">
                                    <div class="testimonial-line"></div>
                                    <div class="feedback-author">Spa Paragon LLC</div>
                                </div>
                                <div class="padding-bottom padding-xsmall"></div>
                                <p class="text-size-large text-color-black">“A HyperGalaxy desenvolveu um roteiro de
                                    produtos, fluxos de usuários, wireframes e designs de alta fidelidade, todos
                                    ajustados aos requisitos exclusivos de nossos três grupos de usuários, priorizando a
                                    facilidade de uso. Melhor empresa de design.</p>
                            </div>
                            <div class="testimonial-slide w-slide">
                                <div class="testimoinal-slider-top-content">
                                    <div class="testimonial-line"></div>
                                    <div class="feedback-author">Spa Paragon LLC</div>
                                </div>
                                <div class="padding-bottom padding-xsmall"></div>
                                <p class="text-size-large text-color-black">“A HyperGalaxy entregou conteúdo rapidamente
                                    em duas semanas, atendendo às expectativas do cliente e gerenciando o fluxo de
                                    trabalho e a comunicação de forma eficiente e positiva.</p>
                            </div>
                        </div>
                        <div class="testimonial-slider-arrow-wrapper w-slider-arrow-left">
                            <div class="testimonial-slider-arrow"><img src="{% static 'images/arrow-right.svg' %}" loading="lazy"
                                    alt=""></div>
                        </div>
                        <div class="testimonial-slider-arrow-wrapper w-slider-arrow-right">
                            <div class="testimonial-slider-arrow"><img src="{% static 'images/Arrow-Left.svg' %}" loading="lazy"
                                    alt=""></div>
                        </div>
                        <div class="testimonial-slide-nav w-slider-nav w-round"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-team">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-large">
                <div class="team-content-wrapper">
                    <h2 class="heading-style-h2 text-color-white">Nossas estrelas</h2>
                </div>
                <div class="padding-bottom padding-large"></div>
                <div class="team-collection-list-wrapper w-dyn-list">
                    <div role="list" class="team-collection-list w-dyn-items">
                        <div role="listitem" class="team-collection-list-item w-dyn-item">
                            <a href="#" class="team-link w-inline-block">
                                <div class="team-member-image-wrapper"><img alt="" loading="lazy" src=""
                                        class="team-member-image"></div>
                                <div class="team-content">
                                    <h5 class="heading-style-h5 text-color-white"></h5>
                                    <div class="text-size-regular text-color-gray"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="w-dyn-empty">
                        <div>No items found.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'components/_cta.html' %}
{% endblock %}