{% load static %}
<div class="section-cta">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-xlarge">
                <div class="cta-component">
                    <h1 class="heading-style-h2 text-color-white">Tem uma ideia?</h1>
                    <div class="padding-bottom padding-large"></div>
                    <div data-w-id="4fb7d052-c644-1be1-4548-88d40ee229d4" class="cta-content"><img
                            src="{% static 'images/Arrow.png' %}" loading="lazy" alt="" class="cta-arrow">
                        <div class="cta-button-wrapper">
                            <a href="{% url 'contato' %}" class="cta-button">Conte-nos sobre isso?</a>
                            <div class="cta-heading-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>