{% load static %}

<div class="section-footer">
    <div class="padding-top padding-medium"></div>
    <div class="padding-global">
      <div class="container-large">
        <div class="footer-component">
          <div class="footer-top-content-wrapper">
            <a href="index.html" aria-current="page" class="footer-logo-wrapper w-inline-block w--current"><img src="{% static 'images/3.png' %}" loading="lazy" width="219" alt=""></a>
            <div class="footer-right-content">
              <div class="footer-link-wrapper">
                <a href="license.html" class="footer-link">licença</a>
                <a href="style-guide.html" class="footer-link">Guia</a>
                <a href="changelog.html" class="footer-link">Registro de alteraçoes</a>
              </div>
              <div class="footer-link-wrapper">
                <div class="text-size-small">Atendimento@hypergalaxy.dev</div>
                <div class="text-size-small">+9898-656-565</div>
                <div class="text-size-small">hypergalaxy © 2023</div>
              </div>
            </div>
          </div>
          <div class="padding-bottom padding-large"></div>
          <div class="footer-bottom-content">
            <div class="text-size-small">Desenvolvido por HyperGalaxy.dev</div>
            <div class="social-icon-wrapper">
              <a href="https://www.instagram.com/" target="_blank" class="social-link w-inline-block"><img src="{% static 'images/instagramsvg.svg' %}" loading="lazy" alt="" class="social-icon"></a>
              <a href="http://facebook.com" target="_blank" class="social-link w-inline-block"><img src="{% static 'images/_facebook.svg' %}" loading="lazy" alt=""></a>
              <a href="https://twitter.com/" target="_blank" class="social-link w-inline-block"><img src="{% static 'images/twitter-.svg' %}" loading="lazy" alt=""></a>
              <a href="https://www.linkedin.com/" target="_blank" class="social-link w-inline-block"><img src="{% static '' %}" loading="lazy" alt=""></a>
            </div>
            <div class="text-size-small"></div>
          </div>
          <div class="padding-bottom padding-medium"></div>
        </div>
      </div>
    </div>
  </div>
</div>