{% load static %}
<nav bind="6de6ad2e-4709-4ac2-1256-da00181000c3" class="navber">
    <div id="w-node-d2070a00-6cba-227f-11d6-fddaacf4b058-71a06c4b" class="nav-component">
        <a href="{% url 'index' %}" id="w-node-_65f58747-e89b-9bd7-c6a8-afaf71a06c4d-71a06c4b" aria-current="page"
            class="nav-logo-wrapper w-nav-brand w--current">
            <img src="{% static 'images/Inserir um título (6).png' %}"
                loading="lazy" width="201" sizes="(max-width: 479px) 100vw, 201px" alt="HyperGalaxy"
                srcset="images/Inserir um título (6).png 500w, images/Inserir um título (6).png 750w"
               >
            </a>
        <div id="w-node-_65f58747-e89b-9bd7-c6a8-afaf71a06c4f-71a06c4b" data-w-id="65f58747-e89b-9bd7-c6a8-afaf71a06c4f"
            class="menu-button">
            <div class="menu-line-wrapper">
                <div class="menu-line top"></div>
                <div class="menu-line middle"></div>
                <div class="menu-line last"></div>
            </div>
        </div>
    </div>
    <aside class="nav-menu">
        <div class="menu-content-wrapper">
            <div class="menu-content">
                <a href="{% url 'sobre' %}" class="nav-links fast w-inline-block">
                    <h1 class="heading-style-h1 is-nav">Sobre</h1>
                    <div class="text-size-regular is-nav-menu">história sobre a HyperGalaxy</div>
                </a>
                <a href="{% url 'projetos' %}" class="nav-links second w-inline-block">
                    <h1 class="heading-style-h1 is-nav">Projetos</h1>
                    <div class="text-size-regular is-nav-menu">Nossa experiência de trabalho</div>
                </a>
                <a href="{% url 'equipe' %}" class="nav-links third w-inline-block">
                    <h1 class="heading-style-h1 is-nav">Equipe</h1>
                    <div class="text-size-regular is-nav-menu">Nossa equipe criativa de classe mundial</div>
                </a>
                <a href="{% url 'blog' %}" class="nav-links fourth w-inline-block">
                    <h1 class="heading-style-h1 is-nav">News</h1>
                    <div class="text-size-regular is-nav-menu">Fique por dentro de todas as nossas novidades</div>
                </a>
                <a href="{% url 'contato' %}" class="nav-links fifth w-inline-block">
                    <h1 class="heading-style-h1 is-nav">Contato</h1>
                    <div class="text-size-regular is-nav-menu">Fique em contato com a gente</div>
                </a>
            </div>
        </div>
        <div data-w-id="65f58747-e89b-9bd7-c6a8-afaf71a06c6d" class="menu-overlay">
            <div class="close-icon-wrapper"><img src="{% static 'images/x.svg' %}" loading="lazy" alt=""
                    class="close-icon"></div>
        </div>
        <div bind="385847a8-77d0-a21f-7e8f-0817133d78f4" data-w-id="164cd524-e468-1f46-ea43-1b5b0c76306f"
            class="preloader">
            <div class="loader"><img src="{% static 'images/Inserir um título (5).png' %}" loading="lazy"
                    data-w-id="164cd524-e468-1f46-ea43-1b5b0c763071" alt="" class="loader-icon">
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763072" class="loader-heading">H</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763074" class="loader-heading">y</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763076" class="loader-heading">p</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763078" class="loader-heading">e</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307a" class="loader-heading">r</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307c" class="loader-heading">-</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">G</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">l</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">x</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">y</h2>
            </div>
        </div>
        <div bind="385847a8-77d0-a21f-7e8f-0817133d78f4" data-w-id="164cd524-e468-1f46-ea43-1b5b0c76306f"
            class="preloader">
            <div class="loader"><img src="{% static 'images/Inserir um título (5).png' %}" loading="lazy"
                    data-w-id="164cd524-e468-1f46-ea43-1b5b0c763071" alt="" class="loader-icon">
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763072" class="loader-heading">H</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763074" class="loader-heading">y</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763076" class="loader-heading">p</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763078" class="loader-heading">e</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307a" class="loader-heading">r</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307c" class="loader-heading">-</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">G</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">l</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">x</h2>
                <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">y</h2>
            </div>
        </div>
    </aside>
    <div bind="385847a8-77d0-a21f-7e8f-0817133d78f4" data-w-id="164cd524-e468-1f46-ea43-1b5b0c76306f" class="preloader">
        <div class="loader"><img src="{% static 'images/Inserir um título (5).png' %}" loading="lazy"
                data-w-id="164cd524-e468-1f46-ea43-1b5b0c763071" alt="" class="loader-icon">
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763072" class="loader-heading">H</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763074" class="loader-heading">y</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763076" class="loader-heading">p</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c763078" class="loader-heading">e</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307a" class="loader-heading">r</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307c" class="loader-heading">-</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">G</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">l</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">a</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">x</h2>
            <h2 data-w-id="164cd524-e468-1f46-ea43-1b5b0c76307e" class="loader-heading">y</h2>
        </div>
    </div>
</nav>