{% load static %}

<div class="section-tricker">
    <div class="inner-tricker">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
    </div>
    <div class="inner-tricker">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
    </div>
    <div class="inner-tricker">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
        <h6 class="heading-style-h6 text-color-white">AWWWARDS   HyperGalaxy</h6><img
            src="{% static 'images/smile.svg' %}" loading="lazy" alt="">
    </div>
</div>